// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

//variable colors
$color_bg_main: #ffffff;
$color_text_noir: #101010;
$color_text_grey: #353535;
$color_text_white: #FFFFFF;
$color_bg_grey: #EAEAEA;
$color_bg_lightGrey: #F6F6F6;
$color_bg_GreyIcon: #7E7E7E;
$color_bg_Purple: #9256DC;

//variable colors button
$color_button_top: #FF79DA;
$color_button_bottom: #9356DC;

// variables fonts
$Font_logo_and_title: 'Shrikhand', serif;
$Font_text: 'Roboto', sans-serif;

p,
h2,
h3,
i,
input::placeholder,
input[value] {
    font-family: $Font_text;
    color: $color_text_noir;
}