//button

.button {
    background-image: linear-gradient(to right, $color_button_bottom, $color_button_top 50%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
    background-size: 200%;
    border-radius: 25px;
    position: absolute;
    bottom: -60px;
    padding: 30px 10px;
    transition: background-position 0.25s;
    cursor: pointer;
    user-select: none;

    p {
        writing-mode: vertical-rl;
        color: $color_text_white;
        font-weight: 500;
        font-size: 24px;
        font-size: 16px;
    }

    &:hover {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
        background-position: right;
    }

    &:active {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    }
}