@mixin cardRestaurant {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 174px 77px;
    max-width: 490px;

    .newRestaurant {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    img {
        border-radius: 15px 15px 0 0;
        height: 174px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 70%;
    }

    .cardRestaurant__content {
        background: $color_bg_White;
        justify-content: space-between;
        display: flex;
        align-content: space-around;
        border-radius: 0 0 15px 15px;

        &__partLeft {
            padding: 15px 0 0 15px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            p {
                font-style: 17px;
                font-weight: 300;
            }
        }

        &__partRight {
            padding: 25px 25px 0 0;
            height: 100%;

            svg {}
        }
    }
}