// loader

// to start, hidde body_container
.body_container_honmepage {
    overflow: hidden;
    animation: hidden_body_container 3s linear forwards;

    @keyframes hidden_body_container {
        0% {
            height: 0px;
        }

        90% {
            height: 0px;
        }

        100% {
            height: auto;
        }
    }
}

.loader {
    @include grid-center;
    cursor: none;
    background: radial-gradient(circle, #ffffff 0%, rgba(53, 53, 53, 1) 100%);

    // loader full screen
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    // Animation loader 3s
    animation: hidden_loader 3s linear forwards;

    // Fork position
    .fork {
        transform: scale(0.12) translateX(-38rem);
        position: absolute;
    }

    // Knife position
    .knife {
        transform: scale(0.12) translateX(38rem);
        position: absolute;
    }

    // creation and position of place
    .cercle1,
    .cercle2 {
        position: absolute;
        border-radius: 50%;
        animation: rotation 1s linear infinite;
    }

    // Creating the first reflection of light
    .cercle1 {
        z-index: 1;
        width: 250px;
        height: 250px;
        box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.62);
        background: linear-gradient(#9356DC 50%, #99E2D0 100%);
    }

    // Creation of the second light reflection
    .cercle2 {
        z-index: 2;
        width: 200px;
        height: 200px;
        background: linear-gradient(#9356DC 95%, #99E2D0 100%);
    }

    // Partial background masking
    .cercle1::after,
    .cercle2::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: #ffffff;
    }

    .cercle1::after {
        width: 245px;
        height: 245px;
    }

    .cercle2::after {
        width: 195px;
        height: 195px;
    }

    // Shodow inside the plate
    .cercle3 {
        position: absolute;
        width: 195px;
        height: 195px;
        z-index: 3;
        border-radius: 50%;
        box-shadow: inset 3px 3px 15px -5px #000000, 1px 1px 200px -20px #ffffff;
    }

    // Balsamic vinegar spinner
    // first dorder
    .cercle4 {
        position: absolute;
        z-index: 4;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top: 5px solid #2b0f09;
        border-right: 5px solid transparent;
        animation: rotation2 1s linear infinite;
    }

    // Second dorder
    .cercle4::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-bottom: 5px solid #2b0f09;
        border-left: 5px solid transparent;
    }

    // Light reflection on balsamic vinegar spinner
    // first border
    .cercle5 {
        position: absolute;
        z-index: 5;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        border-top: 1px solid #FFFFFF;
        border-right: 1.5px solid transparent;
        animation: rotation2 1s linear infinite;
    }

    // Second border
    .cercle5::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 103px;
        height: 103px;
        border-radius: 50%;
        border-bottom: 1px solid #FFFFFF;
        border-left: 1.2px solid transparent;
    }

    // ratotion plate
    @keyframes rotation {
        100% {
            transform: rotate(0deg)
        }

        0% {
            transform: rotate(360deg)
        }
    }

    // ratation balsamic vinegar spinner
    @keyframes rotation2 {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    // animation disappearance loader
    @keyframes hidden_loader {
        0% {
            opacity: 1
        }

        80% {
            opacity: 1
        }

        100% {
            opacity: 0;
            display: none;
            visibility: hidden
        }
    }
}