@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p,
h2,
h3,
i,
input::placeholder,
input[value] {
  font-family: "Roboto", sans-serif;
  color: #101010;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header nav {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.formLocation__header {
  display: flex;
  justify-content: center;
  gap: 17px;
  background: #EAEAEA;
}
.formLocation__header label {
  align-self: center;
}
.formLocation__header label i {
  font-size: 16px;
}
.formLocation__header input[type=text] {
  height: 50px;
  width: 110px;
  background: #EAEAEA;
}
.formLocation__header input[type=text]::placeholder {
  font-size: 16px;
}
.formLocation__header input[type=text]:focus::placeholder {
  opacity: 0;
}
.formLocation__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 30px 100px 30px;
  background: #F6F6F6;
  position: relative;
}
.formLocation__body h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  max-width: 250px;
}
.formLocation__body p {
  max-width: 280px;
  font-style: 18px;
  font-weight: 300;
  color: #353535;
}
.formLocation__body .button {
  background-image: linear-gradient(to right, #9356DC, #FF79DA 50%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  background-size: 200%;
  border-radius: 25px;
  position: absolute;
  bottom: -60px;
  padding: 30px 10px;
  transition: background-position 0.25s;
  cursor: pointer;
  user-select: none;
}
.formLocation__body .button p {
  writing-mode: vertical-rl;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  font-size: 16px;
}
.formLocation__body .button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  background-position: right;
}
.formLocation__body .button:active {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.operating {
  display: grid;
  justify-content: center;
}
.operating__container {
  padding: 48px 20px 68px 20px;
}
.operating__container h2 {
  font-weight: 700;
}
.operating__container__content {
  margin-top: 25px;
  display: grid;
  gap: 25px;
}
.operating__container__content__1 {
  width: 323px;
  display: flex;
  height: 72px;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  position: relative;
  padding-right: 15px;
}
.operating__container__content__1 span {
  position: absolute;
  top: 24px;
  left: -12px;
  color: #FFFFFF;
  background: #9256DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.operating__container__content__1 i {
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7E7E7E;
}
.operating__container__content__1 h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.operating__container__content__2 {
  width: 323px;
  display: flex;
  height: 72px;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  position: relative;
  padding-right: 15px;
}
.operating__container__content__2 span {
  position: absolute;
  top: 24px;
  left: -12px;
  color: #FFFFFF;
  background: #9256DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.operating__container__content__2 i {
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7E7E7E;
}
.operating__container__content__2 h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.operating__container__content__3 {
  width: 323px;
  display: flex;
  height: 72px;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  position: relative;
  padding-right: 15px;
}
.operating__container__content__3 span {
  position: absolute;
  top: 24px;
  left: -12px;
  color: #FFFFFF;
  background: #9256DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.operating__container__content__3 i {
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7E7E7E;
}
.operating__container__content__3 h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.operating__container__content__3--purpul ::before {
  color: #9256DC;
}

.restaurants {
  background: #F6F6F6;
}
.restaurants__container {
  padding: 54px 0px 66px 0px;
  display: grid;
  justify-content: center;
}
.restaurants__container__content {
  margin-top: 20px;
  display: grid;
  gap: 18px;
  width: 90vw;
  max-width: 490px;
}
.restaurants__container__content .cardRestaurant article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 174px 77px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__container__content .cardRestaurant article .newRestaurant {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants__container__content .cardRestaurant article .newRestaurant p {
  color: #008766;
  font-weight: 500;
  font-size: 14px;
}
.restaurants__container__content .cardRestaurant article img {
  border-radius: 15px 15px 0 0;
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant--objectPosition60 {
  object-position: 50% 60%;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content {
  background: #FFFFFF;
  justify-content: space-between;
  display: flex;
  align-content: space-around;
  border-radius: 0 0 15px 15px;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partLeft {
  padding: 15px 0 0 15px;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partLeft h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partLeft p {
  font-style: 17px;
  font-weight: 300;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight {
  width: 50px;
  display: flex;
  align-items: center;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart {
  width: 24px;
  height: 24px;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart svg:hover {
  transform: scale(1.1);
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox] {
  display: none;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox] + label {
  height: 23px;
  width: 24px;
  position: relative;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox] + label svg:nth-child(1) {
  z-index: 0;
  position: absolute;
  fill: url(#grad2);
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox] + label svg:nth-child(2) {
  z-index: 2;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox] + label .drape {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  transition: transform 0.5s ease;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox]:checked + label svg:nth-child(1) {
  transform: scale(1.1);
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox]:checked + label svg:nth-child(2) {
  opacity: 0;
}
.restaurants__container__content .cardRestaurant article .cardRestaurant__content__partRight .heart input[type=checkbox]:checked + label svg:nth-child(2) + .drape {
  transform: translateY(-24px);
}

.footer {
  background: #353535;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.footer__container {
  padding: 25px 0;
  display: grid;
  gap: 7px;
  width: 90vw;
  max-width: 490px;
}
.footer__container i {
  color: #FFFFFF;
  width: 25px;
}
.footer__container h2 {
  color: #FFFFFF;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.footer__container .proposeAndBecomeAPartner {
  display: grid;
  gap: 7px;
}
.footer__container .legalNoticeAndContact {
  display: grid;
  gap: 7px;
}

.menu_header img {
  width: 100%;
  height: 36vh;
  object-fit: cover;
  object-position: 50% 60%;
  position: absolute;
  z-index: -1;
}

.menu_body {
  margin: 0 auto;
  width: 100%;
  max-width: 1055px;
  background: #F6F6F6;
  margin-top: 32vh;
  border-radius: 40px 40px 0 0;
  padding: 32px 13px 40px;
  overflow: hidden;
}
.menu_body_container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.menu_body_container_header h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.menu_body_container_header .heart {
  width: 24px;
  height: 24px;
}
.menu_body_container_header .heart svg:hover {
  transform: scale(1.1);
}
.menu_body_container_header .heart input[type=checkbox] {
  display: none;
}
.menu_body_container_header .heart input[type=checkbox] + label {
  height: 23px;
  width: 24px;
  position: relative;
}
.menu_body_container_header .heart input[type=checkbox] + label svg:nth-child(1) {
  z-index: 0;
  position: absolute;
  fill: url(#grad2);
}
.menu_body_container_header .heart input[type=checkbox] + label svg:nth-child(2) {
  z-index: 2;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s;
}
.menu_body_container_header .heart input[type=checkbox] + label .drape {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  transition: transform 0.5s ease;
}
.menu_body_container_header .heart input[type=checkbox]:checked + label svg:nth-child(1) {
  transform: scale(1.1);
}
.menu_body_container_header .heart input[type=checkbox]:checked + label svg:nth-child(2) {
  opacity: 0;
}
.menu_body_container_header .heart input[type=checkbox]:checked + label svg:nth-child(2) + .drape {
  transform: translateY(-24px);
}
.menu_body_container_header .heart input[type=checkbox] + label .drape {
  background-color: #F6F6F6;
}
.menu_body_container_body-starters-dishes-desserts fieldset {
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 634px;
  min-width: 350px;
}
.menu_body_container_body-starters-dishes-desserts fieldset legend {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 24px;
  position: relative;
}
.menu_body_container_body-starters-dishes-desserts fieldset legend::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #99E2D0;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 634px;
  min-width: 350px;
  user-select: none;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(-600px);
  opacity: 0;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats:hover {
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.2);
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats input[type=radio]:hover + label .part_right {
  transform: translateX(-15px);
  margin-left: 15px;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats input[type=radio]:checked + label .part_right {
  transform: translateX(-100px);
  margin-left: 100px;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats input[type=radio]:checked + label .part_right svg {
  transform: rotate(0deg);
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats input[type=radio] {
  display: none;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 350px;
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_left {
  min-width: 0;
  padding: 10px 0 10px 15px;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_left h3,
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_left p {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_right {
  width: 100px;
  height: 100%;
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  transition: ease-in-out 0.3s;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_right p {
  font-weight: 800;
  padding-bottom: 15px;
  padding-right: 15px;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_right .selected {
  background-color: #99E2D0;
  position: absolute;
  border-radius: 0 20px 20px 0;
  width: 100px;
  height: 100%;
  right: -100px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.menu_body_container_body-starters-dishes-desserts fieldset .plats label .part_right .selected svg {
  font-size: 2rem;
  fill: #FFFFFF;
  transform: rotate(180deg);
  transition: ease-in-out 0.3s;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 0;
    transform: translateX(-600px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
    opacity: 1;
  }
}
.menu_body_container_body-starters-dishes-desserts #entrée_1 {
  animation: myAnim 0.8s ease-in-out 0.1s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #entrée_2 {
  animation: myAnim 0.8s ease-in-out 0.2s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #entrée_3 {
  animation: myAnim 0.8s ease-in-out 0.3s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #plat_1 {
  animation: myAnim 0.8s ease-in-out 0.7s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #plat_2 {
  animation: myAnim 0.8s ease-in-out 0.8s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #plat_3 {
  animation: myAnim 0.8s ease-in-out 0.9s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #dessert_1 {
  animation: myAnim 0.8s ease-in-out 1.4s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #dessert_2 {
  animation: myAnim 0.8s ease-in-out 1.5s 1 normal forwards;
}
.menu_body_container_body-starters-dishes-desserts #dessert_3 {
  animation: myAnim 0.8s ease-in-out 1.6s 1 normal forwards;
}
.menu_body_container_footer {
  position: relative;
  height: 60px;
  width: 0;
  margin: auto;
}
.menu_body_container_footer .button {
  background-image: linear-gradient(to right, #9356DC, #FF79DA 50%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  background-size: 200%;
  border-radius: 25px;
  position: absolute;
  bottom: -60px;
  padding: 30px 10px;
  transition: background-position 0.25s;
  cursor: pointer;
  user-select: none;
}
.menu_body_container_footer .button p {
  writing-mode: vertical-rl;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  font-size: 16px;
}
.menu_body_container_footer .button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  background-position: right;
}
.menu_body_container_footer .button:active {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
