body {
    .body_container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
    }
}