//variable main colors
$color_bg_main: #ffffff;

$color_text_noir: #101010;
$color_text_grey: #353535;
$color_text_white: #FFFFFF;
$color_text_green: #008766;

$color_bg_grey: #EAEAEA;
$color_bg_lightGrey: #F6F6F6;
$color_bg_GreyIcon: #7E7E7E;
$color_bg_Purple: #9256DC;
$color_bg_White: #FFFFFF;
$color_bg_Green: #99E2D0;
$color_bg_Black: #353535;

//variable colors button
$color_button_top: #FF79DA;
$color_button_bottom: #9356DC;