// footer

.footer {
    background: $color_bg_Black;
    color: $color_text_white;
    @include flex-center;
    font-family: $Font_text;

    a {
        color: $color_text_white;
    }

    &__container {
        padding: 25px 0;
        display: grid;
        gap: 7px;
        width: 90vw;
        max-width: 490px;

        @media only screen and (min-width: 1024px) {
            display: flex;
            justify-content: end;
            align-items: last baseline;
            width: 100%;
            max-width: none;
            padding: 30px 50px;
            height: 114px;
            gap: 30px;
        }

        i {
            color: $color_text_white;
            width: 25px;
        }

        h2 {
            color: $color_text_white;
            font-family: $Font_logo_and_title;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 10px;

            @media only screen and (min-width: 1024px) {
                order: 3;
                margin: 0;
                margin-left: 30px;
            }
        }

        .proposeAndBecomeAPartner {
            display: grid;
            gap: 7px;

            @media only screen and (min-width: 1024px) {
                display: flex;
                order: 1;
                gap: 10px;
            }
        }

        .legalNoticeAndContact {
            display: grid;
            gap: 7px;

            @media only screen and (min-width: 1024px) {
                display: flex;
                order: 2;
                gap: 10px;
            }
        }
    }

}