// menu_body

.menu_body {
    margin: 0 auto;
    width: 100%;
    max-width: 1055px;
    background: $color_bg_lightGrey;
    margin-top: 32vh;
    border-radius: 40px 40px 0 0;
    padding: 32px 13px 40px;
    overflow: hidden;

    @media only screen and (max-width: 425px) {
        margin-top: 29vh;
    }

    &_container {
        &_header {
            @include flex-center;
            justify-content: space-between;
            gap: 24px;

            @media only screen and (min-width: 426px) {
                justify-content: center;
            }

            h1 {
                font-family: $Font_logo_and_title;
                font-size: 28px;
                font-weight: 400;
            }

            .heart input[type=checkbox]+label {
                .drape {
                    background-color: $color_bg_lightGrey;
                }
            }
        }

        &_footer {
            position: relative;
            height: 60px;
            width: 100%;
            @include flex-center;
        }
    }
}