.operating {
    display: grid;
    justify-items: center;

    &__container {
        padding: 48px 20px 68px 20px;

        h2 {
            font-weight: 700;
        }

        @media only screen and (min-width: 1024px) {
            width: 100%;
            max-width: 1120px;
        }

        &__content {
            margin-top: 25px;
            display: grid;
            gap: 25px;

            @media only screen and (min-width: 1024px) {
                display: flex;
            }

            &__1 {
                @include stepBlock;
            }

            &__2 {
                @include stepBlock;
            }

            &__3 {
                @include stepBlock;

                &--purpul ::before {
                    color: $color_bg_Purple;
                }
            }
        }
    }
}