// section restaurants

.restaurants {
    background: $color_bg_lightGrey;

    &__container {
        padding: 54px 0px 66px 0px;
        @include grid-center;
        justify-items: start;
        margin: auto;
        width: 90vw;
        max-width: 490px;

        @media only screen and (min-width: 1024px) {
            max-width: 1080px;
        }

        h2 {
            align-self: start;
        }

        &__content {
            margin-top: 20px;
            display: grid;
            gap: 18px;
            width: 90vw;
            max-width: 490px;

            @media only screen and (min-width: 1024px) {
                max-width: 1080px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 100px;
                grid-row-gap: 50px;
            }
        }
    }
}